[submodule ".vim/pack/redminewiki/start/vim-syntax-redminewiki"]
	path = .vim/pack/redminewiki/start/vim-syntax-redminewiki
	url = https://github.com/s3rvac/vim-syntax-redminewiki.git
[submodule ".vim/pack/vim-erlang-omnicomplete/start/vim-erlang-omnicomplete"]
	path = .vim/pack/vim-erlang-omnicomplete/start/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
[submodule ".vim/pack/vim-elixir/start/vim-elixir"]
	path = .vim/pack/vim-elixir/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule ".vim/pack/vim-lsc/start/vim-lsc"]
	path = .vim/pack/vim-lsc/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule ".vim/pack/plantuml-syntax/start/plantuml-syntax"]
	path = .vim/pack/plantuml-syntax/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/pack/ctrlp/start/ctrlp"]
	path = .vim/pack/ctrlp/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/simple-commenter/start/simple-commenter"]
	path = .vim/pack/simple-commenter/start/simple-commenter
	url = https://github.com/c9s/simple-commenter.vim.git
[submodule ".vim/pack/ansi/start/ansi"]
	path = .vim/pack/ansi/start/ansi
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
[submodule ".vim/pack/fuzzyy/start/fuzzyy"]
	path = .vim/pack/fuzzyy/start/fuzzyy
	url = https://github.com/Donaldttt/fuzzyy.git
[submodule ".vim/pack/catppucin/start/catppucin"]
	path = .vim/pack/catppucin/start/catppucin
	url = https://github.com/catppuccin/vim.git
[submodule ".vim/pack/andromeda/start/andromeda"]
	path = .vim/pack/andromeda/start/andromeda
	url = https://github.com/safv12/andromeda.vim.git
[submodule ".vim/pack/vimwiki/start/vimwiki"]
	path = .vim/pack/vimwiki/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/tpope/start/vim-fugitive"]
	path = .vim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/edkolev/start/erlang-motions"]
	path = .vim/pack/edkolev/start/erlang-motions
	url = https://github.com/edkolev/erlang-motions.vim.git
[submodule ".vim/pack/gleam/start/gleam"]
	path = .vim/pack/gleam/start/gleam
	url = https://github.com/gleam-lang/gleam.vim.git
[submodule ".vim/pack/jpalardy/start/vim-slime"]
	path = .vim/pack/jpalardy/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule ".vim/pack/hrsh7th/start/vim-vsnip"]
	path = .vim/pack/hrsh7th/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule ".vim/pack/hrsh7th/start/vim-vsnip-integ"]
	path = .vim/pack/hrsh7th/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
[submodule ".vim/pack/tibabit/start/vim-templates"]
	path = .vim/pack/tibabit/start/vim-templates
	url = https://github.com/tibabit/vim-templates.git
[submodule ".vim/pack/tpope/start/vim-dadbod"]
	path = .vim/pack/tpope/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule ".vim/pack/kristijanhusak/start/vim-dadbod-ui"]
	path = .vim/pack/kristijanhusak/start/vim-dadbod-ui
	url = https://github.com/kristijanhusak/vim-dadbod-ui.git
[submodule ".vim/pack/kristijanhusak/start/vim-dadbod-completion"]
	path = .vim/pack/kristijanhusak/start/vim-dadbod-completion
	url = https://github.com/kristijanhusak/vim-dadbod-completion.git
[submodule ".vim/pack/vim-lsp/start/vim-lsp"]
	path = .vim/pack/vim-lsp/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
