[submodule ".vim/pack/redminewiki/start/vim-syntax-redminewiki"]
	path = .vim/pack/redminewiki/start/vim-syntax-redminewiki
	url = https://github.com/s3rvac/vim-syntax-redminewiki.git
[submodule ".vim/pack/vim-erlang-omnicomplete/start/vim-erlang-omnicomplete"]
	path = .vim/pack/vim-erlang-omnicomplete/start/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
[submodule ".vim/pack/vim-elixir/start/vim-elixir"]
	path = .vim/pack/vim-elixir/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule ".vim/pack/vim-lsc/start/vim-lsc"]
	path = .vim/pack/vim-lsc/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule ".vim/pack/plantuml-syntax/start/plantuml-syntax"]
	path = .vim/pack/plantuml-syntax/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/pack/ctrlp/start/ctrlp"]
	path = .vim/pack/ctrlp/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/simple-commenter/start/simple-commenter"]
	path = .vim/pack/simple-commenter/start/simple-commenter
	url = https://github.com/c9s/simple-commenter.vim.git
[submodule ".vim/pack/ansi/start/ansi"]
	path = .vim/pack/ansi/start/ansi
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
[submodule ".vim/pack/fuzzyy/start/fuzzyy"]
	path = .vim/pack/fuzzyy/start/fuzzyy
	url = https://github.com/Donaldttt/fuzzyy.git
[submodule ".vim/pack/catppucin/start/catppucin"]
	path = .vim/pack/catppucin/start/catppucin
	url = https://github.com/catppuccin/vim.git
[submodule ".vim/pack/andromeda/start/andromeda"]
	path = .vim/pack/andromeda/start/andromeda
	url = https://github.com/safv12/andromeda.vim.git
[submodule ".vim/pack/vimwiki/start/vimwiki"]
	path = .vim/pack/vimwiki/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/tpope/start/vim-fugitive"]
	path = .vim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/edkolev/start/erlang-motions"]
	path = .vim/pack/edkolev/start/erlang-motions
	url = https://github.com/edkolev/erlang-motions.vim.git
[submodule ".vim/pack/gleam/start/gleam"]
	path = .vim/pack/gleam/start/gleam
	url = https://github.com/gleam-lang/gleam.vim.git
