<HEADER>Empty Module built from template.

<SECTION_COMMENT>Export and Defs

%% External API
-export([

]).

-define(SERVER, ?MODULE).

<SECTION_COMMENT>API

<SECTION_COMMENT>Internal functions

<EUNIT_TESTS>